ISP_ID=isp2
PROBE_IP=<ISP2_PROBE_IP>
PROBE_MAC=02:00:00:00:00:04
TRACKER_IP=<ISP2_TRACKER_IP>
PROBE_CONTAINER_NAME=network-monitoring-probe-isp2
CLOUDFLARED_CONTAINER_NAME=network-monitoring-cloudflared-isp2
TUNNEL_TOKEN=replace-with-cloudflare-tunnel-token
WORKER_URL=https://status.example.com/api/heartbeat
PROBE_SECRET=replace-with-isp2-probe-secret
SPEEDTEST_API_TOKEN=replace-with-speedtest-api-token
CHECK_INTERVAL_SECONDS=60
REQUEST_TIMEOUT_SECONDS=10
DNS_HOST=1.1.1.1
HTTPS_CHECK_URL=https://1.1.1.1/cdn-cgi/trace
PUBLIC_IP_URL=http://ipv4.icanhazip.com
INTERNET_CHECK_URL=https://cloudflare.com/cdn-cgi/trace
