PUID=1000
PGID=1000
TZ=Region/City
APP_TIMEZONE=Region/City
DISPLAY_TIMEZONE=Region/City
APP_KEY=replace-with-a-real-app-key
APP_URL=http://<ISP1_TRACKER_IP>
SPEEDTEST_EXTERNAL_IP_URL=http://ipv4.icanhazip.com
SPEEDTEST_INTERNET_CHECK_HOSTNAME=1.1.1.1
SPEEDTEST_SCHEDULE=0 */2 * * *
TRACKER_IP=<ISP1_TRACKER_IP>
TRACKER_MAC=02:00:00:00:00:01
